# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Build files
frontend/urlshortener-frontend/dist/
frontend/urlshortener-frontend/build/

# Maven
backend/urlshortener/target/
backend/urlshortener/.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.development

# Docker
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# AWS
task-definition.json
start-ecs.json
stop-ecs.json
start-rds.json
stop-rds.json
